affine
altair
attrs
blinker
bokeh
branca
Brotli
cachelib
certifi
cffi
charset-normalizer
click
click-plugins==1.1.1
cligj
cloudpickle
colorama
contourpy
cycler
cytoolz
dash==2.18.2
dash_bootstrap_components==1.6.0
dash-core-components
dash-extensions
dash-table
dash-tools
dash_leaflet==1.0.15
dask
dask-expr
dataclass-wizard
distributed
EditorConfig
et_xmlfile
Flask
Flask-Caching
folium
fonttools
fsspec
geobuf
gunicorn
h2
hpack
hyperframe
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jsbeautifier
jsonschema
jsonschema-specifications
kiwisolver
locket
lz4
MarkupSafe
matplotlib==3.9.3
mercantile
more-itertools
msgpack
munkres==1.1.4
narwhals
nest_asyncio
numpy
openpyxl
packaging
pandas==1.4.1
partd
Pillow==11.0.0
pkgutil_resolve_name
protobuf
psutil
pyarrow==18.1.0
pyarrow-hotfix
pycparser
pyparsing
pyproj
PySide6==6.8.0.2
PySocks
python-dateutil
pytz
PyYAML
rasterio==1.4.3 
referencing
requests
retrying
rioxarray==0.18.1
rpds-py
scipy
shiboken6==6.8.0.2
six
snuggs
sortedcontainers
tblib
tenacity
toolz
tornado
typing_extensions
tzdata
unicodedata2
urllib3
Werkzeug
win_inet_pton
xarray
xyzservices
zict
zipp
zstandard==0.23.0

